body {
	margin: 0;
}

.snowman {
	font-size: 100px;
}
div {
	
}
.stairs {
	width: 50px;
	height: 5px;
	background-color: blue;
	position: fixed;
	top: 105px;
	left: 20px;
}
.stairss {
	width: 5px;
	height: 25px;
	background-color: blue;
	position: fixed;
	top: 110px;
	left: 70px;
	border-bottom: 5px;	
}