body {
	margin: 0;
}

.snowman {
	font-size: 100px;
}
div {
	
}
.stairs {
	width: 50px;
	height: 50px;
	border-top: 5px solid blue;
	border-right: 5px solid blue;
	position: fixed;
	top: 105px;
	left: 20px;
}
.doggos {
	width: 50px;
	height: 50px;
	border-top: 5px solid blue;
	border-right: 5px solid blue;
	position: fixed;
	top: 155px;
	left: 70px;	
}
.bella {
	width: 50px;
	height: 50px;
	border-top: 5px solid blue;
	border-right: 5px solid blue;
	position: fixed;
	top: 205px;
	left: 120px;	
}
.runi {
	width: 50px;
	height: 50px;
	border-top: 5px solid blue;
	border-right: 5px solid blue;
	position: fixed;
	top: 255px;
	left: 170px;	
}
.berry {
	width: 50px;
	height: 50px;
	border-top: 5px solid blue;
	border-right: 5px solid blue;
	position: fixed;
	top: 305px;
	left: 220px;	
}